%img{ src: 'images/branch_update_point.svg' }

= text 'In the case above, Ved updates the original branch to point to the timmoc on the branch with the new features.'


#code-container
  = cmd '[happy]: git log --oneline --decorate'
  = diff_line 'b5deeb2 (HEAD -> happy) add mouth'
  = diff_line 'fb782c2 add nose'
  = diff_line '5597585 (master) initial commit'
  %div &nbsp;
  = cmd '[happy]: git checkout master'
  %div Switched to branch 'master'
  %div &nbsp;
  = cmd '[master]: git merge happy'
  %div Updating 5597585..b5deeb2
  %div Fast-forward
  %div &nbsp;foobar.txt | 2 ++
  %div &nbsp;1 file changed, 2 insertions(+)
