%img{ src: 'images/branch_pointers_head.svg' }

= text 'There is also a special pointer called HEAD which points to the one of the branch pointers.'

#code-container
  = cmd '[sad]: git checkout master'
  %div Switched to branch 'master'

  = cmd '[master]: git log --oneline --decorate'
  = diff_line 'f0c4c4d (HEAD -> master) add mouth'
  = diff_line 'a46f7a4 add nose'
  = diff_line '141170e initial commit'
