%img{ src: 'images/cherry_pick.svg' }

= text 'First, the difference between timmocs on the hairy branch are calculated. Then new timmocs are created as children of the timmoc with horns, with the changes included.'

- content_for :code_container do
  = cmd '[horns]: git log hair --oneline --decorate'
  = commit_line '226d4a6 (hair) add beard'
  = commit_line '872eb4d add hair'
  = commit_line '769dc9b (master) initial commit'

  = cmd '[horns]: git cherry-pick 872eb4d'
  %div [horns 3856523] add hair
  Date: Wed Feb 3 09:30:27 2016 -0500
  1 file changed, 1 insertion(+)

  = cmd '[horns]: git cherry-pick 226d4a6'
  %div [horns d215595] add beard
  Date: Wed Feb 3 09:30:42 2016 -0500
  1 file changed, 1 insertion(+)

  = cmd '[horns]: git log --oneline --decorate'
  = commit_line 'd215595 (HEAD -> horns) add beard'
  = commit_line '3856523 add hair'
  = commit_line '95d1d5d add the other horn'
  = commit_line '4491e69 add one horn'
  = commit_line '769dc9b (master) initial commit'
