%img{ src: 'images/generations.svg' }

= text 'Over many generations, Ved can decide to add and remove various features.'

- content_for :code_container do

  = cmd '[master]: git log --oneline --decorate'
  = commit_line 'f0c4c4d (HEAD -> master) add mouth'
  = commit_line 'a46f7a4 add nose'
  = commit_line '141170e initial commit'
