%img{ src: 'images/more_rebase.svg' }

= text 'But the new timmocs have a different parent: the timmoc with horns, who did not exist when the hairy branch was first created.'

- content_for :code_container do
  = cmd '[hair]: git log --oneline --decorate'
  = commit_line '5d798bc (HEAD -> hair) add beard'
  = commit_line '8124b77 add hair'
  = commit_line '80f2adf (master) initial commit'

  = cmd '[hair]: git rebase horns'
  %div First, rewinding head to replay your work on top of it...
  %div Applying: add hair
  %div Applying: add beard

  = cmd '[hair]: git log --oneline --decorate'
  = commit_line 'b25d0ac (HEAD -> hair) add beard'
  = commit_line '9165e40 add hair'
  = commit_line '7e15edf (horns) add the other horn'
  = commit_line '25c0260 add one horn'
  = commit_line '80f2adf (master) initial commit'

