%img{ src: 'images/more_rebase.svg' }

= text 'Then Ved re-applies those changes to the most recent timmoc on the original branch.'

#code-container
  = cmd '[hair]: git log --oneline --decorate'
  = commit_line '5d798bc (HEAD -> hair) add beard'
  = commit_line '8124b77 add hair'
  = commit_line '80f2adf (master) initial commit'
  
  = cmd '[hair]: git rebase horns'
  %div First, rewinding head to replay your work on top of it...
  %div Applying: add hair
  %div Applying: add beard
  
  = cmd '[hair]: git log --oneline --decorate'
  = commit_line 'b25d0ac (HEAD -> hair) add beard'
  = commit_line '9165e40 add hair'
  = commit_line '7e15edf (horns) add the other horn'
  = commit_line '25c0260 add one horn'
  = commit_line '80f2adf (master) initial commit'
  
  = cmd '[hair]: git checkout horns'
  %div Switched to branch 'horns'
  
  = cmd '[horns]: git merge hair'
  %div Updating 7e15edf..b25d0ac
  %div Fast-forward
  barfoo.txt | 4 ++++
  1 file changed, 4 insertions(+)
  create mode 100644 barfoo.txt
