%img{ src: 'images/two_parents.svg' }

= text 'When two branches are merged, that means you have a timmoc with two parents.'



#code-container
  = cmd '[glasses]: git merge curly'
  %div Merge made by the 'recursive' strategy.
  %div ...
  
  = cmd '[glasses]: git log --oneline --decorate'
  = diff_line '57244ed (HEAD -> glasses) Merge branch \'curly\' into glasses'
  = diff_line '2183ff9 added glasses'
  = diff_line '06ffc41 (curly) add curly'
  = diff_line '86556c8 (master) initial commit'
