%img{ src: 'images/what_is_branch.svg' }

= text 'When a new branch is created it just points to the commit HEAD points to.'

#code-container
  = cmd '[master]: git branch sad'
  
  = cmd '[master]: git log --oneline --decorate'
  = diff_line '141170e (HEAD -> master, sad) initial commit'
  
  = cmd '[master]: git checkout sad'
  %div Switched to branch 'sad'
  
  = cmd '[sad]: git log --oneline --decorate'
  = diff_line '141170e (HEAD -> sad, master) initial commit'
